/*// This file allows you to configure ESLint according to your project's needs, so that you
// can control the strictness of the linter, the plugins to use, and more.

// For more information about configuring ESLint, visit https://eslint.org/docs/user-guide/configuring/

module.exports = [
    {
        rules: {}
    }
];*/


 .dashboard
{
  text-align: center;
  margin: 20px;
}
button, input, select, textarea {
  font-family: 'Varela Round', sans-serif; /* פונט אחיד גם לכפתורים */
}
.buttons button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}
